* {
  box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;                                 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

